{% extends "core/base.html" %}

{% block content %}

    <main class='py-6 px-8'>
        <h1 class='text-3xl'>About</h1>
        <div class='mt-6 space-y-6'>
            <p>Veniam pariatur et reprehenderit dolor tempor ipsum magna. Elit elit officia aliqua irure nostrud qui aute commodo sunt in irure. Adipisicing id sunt minim nostrud pariatur enim eu sint.</p>
            <p>Deserunt adipisicing commodo irure pariatur mollit exercitation proident sint nostrud Lorem ea officia esse veniam. Laborum officia consequat aute nulla magna eiusmod dolor deserunt sit occaecat qui veniam et ipsum. Dolor velit ut irure occaecat veniam dolore aliqua est non velit tempor est nisi consectetur.</p>
        </div>
    </main>
    
{% endblock content %}