{% extends "core/base.html" %}

{% block content %}
<main class='py-6 px-8'>
    <div class='max-w-xl mx-auto bg-slate-800 py-4'>
        <h1 class='text-3xl text-white py-2 px-4'>Sign Up</h1>
        <form class='mt-6 px-6 space-y-1' method='post' action='.'>
            {% csrf_token %}
            <div class='text-white py-2 space-y-2'>
                <label>Name</label>
                <input name='name' type='text' class='w-full py-2 px-6 bg-slate-500 text-white rounded'>
            </div>
            <div class='text-white py-2 space-y-2'>
                <label>Email</label>
                <input name='email' type='email' class='w-full py-2 px-6 bg-slate-500 text-white rounded'>
            </div>
            <div class='py-2 text-white space-y-2'>
                <label>Password</label>
                <input name='password1' type='password' class='w-full py-2 px-6 bg-slate-500 text-white rounded'>
            </div>
            <div class='py-2 text-white space-y-2'>
                <label>Confirm Password</label>
                <input name='password2' type='password' class='w-full py-2 px-6 bg-slate-500 text-white rounded'>
            </div>
            <div class='text-center'>
                <button class='py-4 px-8 bg-sky-800 text-white content-center'>Sign Up</button>
            </div>

        </form>
    </div>

        
</main>

{% endblock content %}